.title-of-accordion {
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.symbol-for-accordion {
    font-size: 40px;
    background: linear-gradient(139.35deg, #4584ff -49.2%, #4333a6 268.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.body-of-accordion {
    font-size: 16px;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.accordions {
    border-bottom: 2px solid #f9f9f9;
}

@media (min-width: 800px) {
    .body-of-accordion {
        width: 60%;
    }
}
