@media (max-width: 1199px) {

    .blue-ball {
        display: none;
    }
}

/* position relative */

@media (min-width: 1600px){
    .blue-spire {
        display: none;
    }
}

@media (min-width: 2400px) {

    .blue-ball {
        display: none;
    }
}

@media (max-width: 2399px) and (min-width: 2200px) {
    .blue-ball {
        left: 7%;
        width: 40%;
        height: 40%;
        bottom: 470px;
    }
}

@media (max-width: 2199px) and (min-width: 1818px) {
    .blue-ball {
        left: 15%;
        width: 40%;
        height: 40%;
        bottom: 470px;
    }
}

@media (max-width: 1817px) {
    .blue-ball {
        left: 30%;
        width: 30%;
        height: 30%;
        bottom: 400px
    }
}

@media (max-width: 1440px) {
    .blue-ball {
        left: 43%;
        width: 30%;
        height: 30%;
        bottom: 380px;
    }
}

@media (max-width: 1399px) {
    .blue-ball {
        left: 37%;
        width: 30%;
        height: 30%;
        bottom: 300px
    }
}

.blue-ball {
    position: relative;

    margin-left: -50%;

}

.blue-spire {
    position: relative;
    margin-top: -50%;
}

@media (min-width: 992px){
    .blue-spire {
        bottom: -300px;
        left: -150px
    }
}

@media (max-width: 991px){
    .blue-spire {
        bottom: -100px;
        left: -150px;
        width: 200px
    }
}

@media (max-width: 767px) and (min-width: 616px) {
    .blue-spire {
        bottom: -50px;
        left: -150px;
        width: 200px
    }
}


@media (width: 768px) {
    .blue-spire {
        bottom: -50px;
        left: -50px;
        width: 200px
    }
}

@media (max-width: 615px) {
    .blue-spire {
        bottom: -50px;
        left: -50px;
        width: 200px
    }
}
