#tab-for-icons {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10%;
    gap: 9%;
}

.icon-in-circle {
    background: white;
    background: linear-gradient(139.35deg, #4584ff -49.2%, #4333a6 268.32%) border-box;
    border-radius: 50em;
    border: 20px solid transparent;
}

#slider-for-icons {
    display: flex;
    justify-content: center;
}

@media (min-width: 992px) {
    #slider-for-icons {
        display: none;
    }
}

@media (max-width: 991px) {
    #tab-for-icons {
        display: none;
    }
}

@media (max-width: 1200px) {
    .icon-in-circle img {
        width: 100%;
        height: 100px;
    }
}

@media (max-width: 1000px) {
    #tab-for-icons {
        gap: 7%;
    }
}

.slide {
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: center;
    margin-bottom: 10%;
}

#slider-for-icons {
    margin-top: 15%;
    margin-bottom: 10%;
    text-align: center;
}

@media (max-width: 480px) {
    .carousel-for-brands .carousel-control-prev-icon {
        left: 87%;
    }

    .carousel-for-brands .carousel-control-next-icon {
        right: 87%;
    }
}

@media (min-width: 481px) {
    .carousel-for-brands .carousel-control-prev-icon {
        left: 150%;
    }

    .carousel-for-brands .carousel-control-next-icon {
        right: 150%;
    }
}

.carousel-for-brands .carousel-control-prev-icon {
    position: relative;
    top: 42%;

    background-image: url(../../public/images/control-left.svg) !important;
}

.carousel-for-brands .carousel-control-next-icon {
    position: relative;
    top: 42%;

    background-image: url(../../public/images/control-right.svg) !important;
}

.carousel-for-brands .carousel-indicators {
    gap: 20px;
}

.carousel-for-brands .carousel-indicators [data-bs-target] {
    width: 13px !important;
    height: 13px !important;
    border: 1px solid transparent !important;
    border-radius: 50%;
    background-color: #eeeeee !important;
}

.carousel-for-brands .carousel-indicators .active {
    background: linear-gradient(139.35deg, #4584ff -49.2%, #4333a6 268.32%);
}

.slide {
    width: 100%;
}
