#tab-for-icons {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10%;
    gap: 9%
}

.icon-in-circle {
    background: white;
    border-radius: 100px;
    background: linear-gradient(139.35deg, #4584FF -49.2%, #4333A6 268.32%) border-box;
    border-radius: 50em;
    border: 20px solid transparent;
}

#slider-for-icons {
    display: flex;
    justify-content: center;
}

@media (min-width: 992px) {
    #slider-for-icons {
        display: none;
    }
}

@media (max-width: 991px) {
    #tab-for-icons {
        display: none;
    }
}

@media (max-width: 1200px) {
    .icon-in-circle img {
        width: 100%;
        height: 100px
    }
}

@media (max-width: 1000px) {
    #tab-for-icons {
        gap: 7%
    }
}


.slide {
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: center;
    margin-bottom: 10%
}

#slider-for-icons {
    margin-top: 15%;
    margin-bottom: 10%;
    text-align: center;
}
