#tabforicons{
  display:flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10%;
  gap: 8%
}

.iconincircle{
  background: white;
  border: 20px solid #4584FF;
  border-radius: 100px;
  color: black;
}

@media (min-width:800px){
  #sliderforicons{
    display: none;
  }
}

@media (max-width:799px){
  #tabforicons{
    display: none;
  }


}

.slide{
  display: flex;
  flex-direction: row;
  gap: 5%;
  justify-content: center;
}

#sliderforicons{
  margin-top: 10%;
  margin-bottom: 10%
}
