.blackbutton{
  background: #F9F9F9;
  border: 1px solid #4584FF;
  border-radius: 40px;
  padding: 5%;
  color: #4584FF;
}


.blackbutton:active{
  background: #000000;
  box-shadow: inset 0 6px 10px #565656;
  color: white;
}

.blackbutton:disabled{
  background: white;
  color: #EBEBEB;
  border: #EBEBEB
}

.fullb{
  border-radius: 40px;
  background: linear-gradient(139.35deg, #4584FF -49.2%, #4333A6 268.32%);
  color: white;
  padding: 2% 3%;
  border-style: none;
  margin: 2%;
}

.fullb:hover {
  background: linear-gradient(139.35deg, #4584FF -49.2%, #4333A6 268.32%);
  box-shadow: 0 20px 30px rgba(69, 104, 223, 0.3);
  border-radius: 40px;
}

.fullb:active {
  background: linear-gradient(139.35deg, #4584FF -49.2%, #4333A6 268.32%);
  box-shadow: inset 0 6px 10px #2E4BB3;
}

.fullb:disabled {
  background: #EBEBEB;
  color: #23232399;
}

.whiteb{
  border-radius: 40px;
  color: #4584FF;
  background: white;
  padding: 2% 3%;
  border: 2px solid #4584FF;
  margin: 2%;
}

.whiteb:hover{
  background: #4584FF;
  color: white;
}

.whiteb:active {
  background: #4584FF;
  box-shadow: inset 0 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  color: white;
}

.whiteb:disabled {
    background: white;
    color: #EBEBEB;
    border: #EBEBEB
}

@media (min-width: 800px){
  .fullb{
    font-size: 20px
  }

  .whiteb{
    font-size: 20px;
  }

  .blackbutton{
    font-size: 20px;
  }
}


@media(max-width: 799px){
  .fullb{
    font-size: 16px;
  }

  .whiteb{
    font-size: 16px;
  }

  .blackbutton{
    font-size: 16px;
  }
}

.bforp{
  background: #F9F9F9;
  font-size: 20px;
  padding: 2%;
  border-width: inherit;
}

.bforp:hover {
  background: linear-gradient(139.35deg, #4584FF -49.2%, #4333A6 268.32%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 35px;
  color: white;
  padding: 2% 3%;
}

.bforp:active {
  background: linear-gradient(139.35deg, #4584FF -49.2%, #4333A6 268.32%);
  box-shadow: inset 0 6px 10px #2E4BB3;
}
