.black-button {
    background: #F9F9F9;
    border: 1px solid #4584FF;
    border-radius: 40px;
    padding: 5%;
    color: #4584FF;
}

.black-button:active {
    background: #000000;
    box-shadow: inset 0 6px 10px #565656;
    color: white;
}

.black-button:disabled {
    background: white;
    color: #EBEBEB;
    border: #EBEBEB;
    box-shadow: initial;
    transition: initial;
}

.blue-button {
    border-radius: 40px;
    background: linear-gradient(139.35deg, #4584FF -49.2%, #4333A6 268.32%);
    color: white;
    padding: 1% 2%;
    border-style: none;
    margin: 2%;
    transition: background 0.3s ease;
}

.blue-button:hover {
    background: linear-gradient(139.35deg, #4584FF -49.2%, #4333A6 268.32%);
    box-shadow: 0 20px 30px rgba(69, 104, 223, 0.3);
    border-radius: 40px;
}

.blue-button:active {
    background: linear-gradient(139.35deg, #4584FF -49.2%, #4333A6 268.32%);
    box-shadow: inset 0 6px 10px #2E4BB3;
}

.blue-button:disabled {
    background: #EBEBEB;
    color: #23232399;
    box-shadow: initial;
    transition: initial;
}

.white-button {
    border-radius: 40px;
    color: #4584FF;
    background: white;
    padding: 1% 2%;
    border: 2px solid #4584FF;
    margin: 2%;
    transition: background 0.3s ease;
}

.white-button:hover {
    background: #4584FF;
    color: white;
}

.white-button:active {
    background: #4584FF;
    box-shadow: inset 0 6px 10px rgba(0, 0, 0, 0.25);
    color: white;
}

.white-button:disabled {
    background: white;
    color: #EBEBEB;
    border: #EBEBEB;
    box-shadow: initial;
    transition: initial;
}

.registration-button {
    border-radius: 40px;
    height: 45px;
    width: 136px;
    background: white;
    padding: 1% 2%;
    border: 2px solid #4584FF;
    margin: 2%;
    transition: background 0.3s ease;
    font-size: 16px;
}

.registration-button:hover {
    background: #4584FF;
    color: white;
}

.registration-button:active {
    background: #4584FF;
    box-shadow: inset 0 6px 10px rgba(0, 0, 0, 0.25);
    color: white;
}


.button-log-in {
    border-radius: 50%;
    color: #4584FF;
    background: white;
    border: 2px solid #4584FF;
    transition: background 0.3s ease;
    width: 45px;
    height: 45px;
    font-size: 30px;
    padding-left: 5px;
    padding-top: 2px

}

.button-log-in:hover {
    background: linear-gradient(139.35deg, #4584FF -49.2%, #4333A6 268.32%);
    color: white;
}

.button-log-in:active {
    background: #4584FF;
    box-shadow: inset 0 6px 10px rgba(0, 0, 0, 0.25);
    color: white;
}

.button-log-in:disabled {
    background: white;
    color: #EBEBEB;
    border: #EBEBEB;
    box-shadow: initial;
    transition: initial;
}

@media (min-width: 800px) {
    .blue-button {
        font-size: 20px
    }

    .white-button {
        font-size: 20px;
    }

    .black-button {
        font-size: 20px;
    }

    .button-for-rate {
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    .wrapper-buttons-header {
        width: 250px;
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: 20px;
    }
}

@media (max-width: 991px) {
    .wrapper-buttons-header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}


@media (max-width: 799px) {
    .blue-button {
        font-size: 16px;
    }

    .white-button {
        font-size: 16px;
    }

    .black-button {
        font-size: 16px;
    }

    .button-for-rate {
        font-size: 14px;
    }

    .button-log-in {
        width: 45px
    }

}


.button-for-rate {
    background: #F9F9F9;
    padding: 2%;
    border-width: inherit;
    transition: background 0.3s ease;
}

.active-button, .button-for-rate:hover {
    background: linear-gradient(139.35deg, #4584FF -49.2%, #4333A6 268.32%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 35px;
    color: white;
    padding: 2%;
}

.button-for-rate:active {
    background: linear-gradient(139.35deg, #4584FF -49.2%, #4333A6 268.32%);
    box-shadow: inset 0 6px 10px #2E4BB3;
}

.control-button-spinner {
    width: 30px !important;
    height: 25px !important;
    border-radius: 50%;
    border: 2px solid #4584FF;
    color: #4584FF;
    font-weight: bold;
}

.control-button-spinner:active {
    background: #000000;
    box-shadow: inset 0 6px 10px #565656;
    color: white;
}
