.for-form {
    background: #f9f9f9;
    border-radius: 30px;
    width: 500px;
    height: 646px;
    margin-bottom: 10%;
    padding: 5%;
    text-align: center;
    margin-top: 5%;
}

.inputs-in-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-form {
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 38px;
    border: 2px solid #cdcdcd;
    margin-bottom: 5%;
    text-align: center;
    background: #f9f9f9;
    font-size: 20px;
    padding: 3%;
}

.for-form h3 {
    font-size: 32px;
}

.for-form {
    font-size: 24px;
}

.for-form p {
    margin-bottom: 10%;
}

.for-form button {
    border-radius: 40px;
    color: #4584ff;
    border: 1px solid #4584ff;
    background: #f9f9f9;
    padding: 2% 3%;
    font-size: 18px;
}

.for-form:hover > button {
    background: linear-gradient(139.35deg, #4584ff -49.2%, #4333a6 268.32%);
    border-radius: 40px;
    color: white;
}

.for-form:hover > .inputs-in-form input {
    border-color: #4584ff;
}

@media (max-width: 991px) {
    .block-for-form {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 799px) {
    .for-form {
        width: 330px;
        height: 500px;
    }

    .input-form {
        font-size: 14px;
        color: black;
        padding: 3%;
    }

    .for-form h3 {
        font-size: 24px;
    }

    .for-form p {
        font-size: 18px;
    }
}
