.link-for-nav {
    text-decoration: none;
    color: #232323;
}

.link-for-nav:hover {
    font-weight: bold;
    text-decoration: none;
    color: #232323;
}

.dot {
    width: 5px;
    height: 5px;
    background: linear-gradient(139.35deg, #4584FF -49.2%, #4333A6 268.32%);
    position: relative;
    border-radius: 50%;
    transform: translateX(-50%);
    opacity: 0;
    top: 1px;
    transition: all 0.3s;
    left: 0;
}

.active-link {
    font-weight: bold;
    text-decoration: none;
    color: #232323;
}

.link-for-nav:hover .dot, .active-link .dot {
    opacity: 1;
    left: 50%;
}

.bars {
    font-size: 25px;
    color: #4584FF;
}

@media (min-width: 992px) {
    .logo-mobile {
        display: none
    }
}


@media (max-width: 991px) {
    .dot {
        display: none
    }

    .link-block {
        margin-bottom: 2%;
        margin-top: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .brand-in-nav {
        position: relative;
        left: 50%
    }

    .collapsed {
        position: relative;
        right: 90%
    }
    .logo-computer {
        display: none
    }
}
