.body {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15%;
}

.fullb{
  border-radius: 40px;
  background: linear-gradient(139.35deg, #4584FF -49.2%, #4333A6 268.32%);
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 15px;
  border-style: none;
  margin: 2%;
}

.whiteb{
  border-radius: 40px;
  color: #4584FF;
  background: white;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 15px;
  border-color: #4584FF;
  border-width: thin;
  margin: 2%;
}

.whiteb:hover{
  background: #4584FF;
  color: white;
}

@media (min-width: 800px){
  .fblock{
    margin-right: 40%;
  }
  .aboutcomptext{
    margin-right: 50%;
  }
  .whyblocks{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    justify-content: center;
  }
  .purpleblock{
    background: linear-gradient(139.35deg, #4584FF -49.2%, #4333A6 268.32%);
    border-radius: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 58px 465px 58px 75px;
    gap: 10px;
    margin-top: 10%;
  }
}

@media(max-width: 600px){
  .fblock{
    margin-top: 80px;
    text-align: center;
  }
  .whyblocks{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    justify-content: center;
  }
  .purpleblock{
    position: absolute;
    width: 330px;
    height: 563px;
    left: 30px;
    top: 3502px;
    background: linear-gradient(139.35deg, #4584FF -49.2%, #4333A6 268.32%);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    color:white;
    text-align: center;
  }
}

span{
  color: #4333A6;
}

h1{
  font-size: 40px;
}

.fblock p{
  font-size: 24px
}

.fsmtext{
  font-size: 16px;
}
.blueball{
  margin-left: -15%;
}

.whyrectop h1{
  text-align: center;
  margin-top: 5%;
}

.whyblock{
  background: #F9F9F9;
  padding-top: 5%;
  padding-left: 3%;
  padding-bottom: 2%;
  height: 270px;
  width: 23%;
  border-radius: 10px;
  margin: 1%;
  margin-bottom: 5%;
}

.whyblock:hover{
  background: linear-gradient(139.35deg, #4584FF -49.2%, #4333A6 268.32%);
  color: white;
}

h2{
  font-size: 20px;
}

.whyblock p{
  font-size: 16px;
}

.getreports h1{
  text-align: center;
}

.work{
  margin-top: 10%
}

.blockwithpic{
  margin-top: 5%;
}
