#list-of-prices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.table-for-price h3 {
    font-size: 24px;
}

.table-for-price h5 {
    font-size: 24px;
}

.table-for-price h4 {
    font-size: 20px;
    margin-top: 10%;
}

.text-in-price {
    text-align: center;
    font-size: 18px;
}


.table-for-price:hover {
    background: linear-gradient(139.35deg, #4584FF -49.2%, #4333A6 268.32%);
    color: white;
    transition: background 0.3s ease;


}

.table-for-price:hover > button {
    background: black;
    color: white;
    transition: 0.3s
}

.table-for-price:hover .block-in-table {
    background: #FFFFFF;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    color: black;
    border: 1px solid #4584FF;
    transition: 0.3s
}

.table-for-price:hover > h4 {
    color: white;
    transition: 0.3s
}

.table-for-price h4 {
    color: #4584FF;
}

.table-for-price{
    background: #F9F9F9;
    border-radius: 30px;
    border: 1px solid #4584FF;
    padding: 3%;
    text-align: center;
    align-items:center;
    justify-content: center;
    display:flex;
    flex-direction: column;
}

.block-in-table {
    background: linear-gradient(139.35deg, #4584FF -49.2%, #4333A6 268.32%);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    color: white;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

@media (min-width: 1200px) {
    .table-for-price {
        height: 943px;
        width: 367px;

    }

    .block-in-table {
        font-size: 14px;
        padding: 24px;
        height: 111px;
        width: 264.36px
    }
}

@media (max-width: 1199px){
    .table-for-price {
        height: 820px;
        width: 300px;
        font-size: 16px


    }

    .text-in-price {
        font-size: 16px
    }
    .table-for-price button, .table-for-price h5 {
        font-size: 14px;
    }

    .block-in-table {
        font-size: 16px;
        padding: 24px;
        height: 121px;
        width: 245px;
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    .table-for-price {
        background: #F9F9F9;
        border-radius: 30px;
        border: 1px solid #4584FF;
        padding: 3%;
        text-align: center;
        height: 943px;
        width: 367px;
    }

    .block-in-table {
        background: linear-gradient(139.35deg, #4584FF -49.2%, #4333A6 268.32%);
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        color: white;
        font-size: 16px;
        text-align: center;
        padding: 24px;
        margin-top: 10%;
        margin-bottom: 10%;
        height: 121px;
        width: 294px
    }
}

@media (max-width: 450px) {
    .table-for-price {
        height: 700px;
        width: 240px;

    }

    .text-in-price {
        font-size: 14px
    }
    .table-for-price button, .table-for-price h5 {
        font-size: 14px;
    }
    .table-for-price h3{
        font-size: 20px
    }

    .block-in-table {
        font-size: 10px;
        padding: 15px;
        height: 70px;
        width: 200px
    }
}



@media (max-width: 991px) {
    #list-of-prices {
        display: none
    }
}

@media (min-width: 992px) {
    #slider-for-prices {
        display: none
    }
}
