.purplecircle{
  background: linear-gradient(139.35deg, #4584FF -49.2%, #4333A6 268.32%);
  color: white;
  text-align: center;
  padding: 16%;
  border-radius: 50%;
  width: 82%
}

.blackblock{
  background: #0F0F0F;
  border-radius: 15px;
  color: white;
  text-align: center;
  width: 60%;
  padding-top: 3%;
  padding-bottom: 0.5%;
  margin: 10%;
  transform: rotate(-14deg);
}

.blackblock h2{
  font-size: 18px;
}

.blackblock p{
  font-size: 13px;
}

.blackblockt{
  background: #0F0F0F;
  border-radius: 15px;
  color: white;
  text-align: center;
  width: 60%;
  padding-top: 3%;
  padding-bottom: 0.5%;
  margin: 10%;
  transform: rotate(14deg);
  margin-left: 20%
}

.blackblockt h2{
  font-size: 18px;
}

.blackblockt p{
  font-size: 13px;
}

@media (max-width:799px){
  .purplecircle{
    border-radius: 50%;
    width: 300px;
    height: auto;
    padding: 10%;
    margin-left: 20%
  }
  .blackblock{
    width: 30%
  }
  .blackblockt{
    width: 30%;
    margin-left: 40%
  }
}
