.purple-block h2 {
    margin-bottom: 10%
}

@media (min-width: 992px) {
    .img-in-purple-block-mobile {
        display: none
    }

    .purple-block {
        background: linear-gradient(139.35deg, #4584FF -49.2%, #4333A6 268.32%);
        border-radius: 30px;
        color: white;
        padding: 5% 4% 3% 5%;
        margin-top: -38%;
        margin-bottom: 15%
    }

    .white-ellipse {
        position: relative;
        right: 15%;
        margin-bottom: -100%
    }
}

@media (max-width: 991px) {
    .purple-block {
        background: linear-gradient(139.35deg, #4584FF -49.2%, #4333A6 268.32%);
        box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        color: white;
        width: 330px;
        text-align: center;
        margin-bottom: 5%;
        margin-top: 5%;
        padding-top: 10%;
        padding-left: 5%;
        padding-right: 5%
    }

    .purple-block b {
        font-size: 20px;
    }

    .purple-block p {
        font-size: 14px;
        margin-bottom: 10%;
    }

    .img-in-purple-block {
        display: none
    }

    .wrapper-for-purple-block {
        display: flex;
        justify-content: center;
    }

    .white-ellipse {
        display: none;
    }


}


@media (max-width: 1399px) {
    .white-ellipse {
        bottom: 540px;
    }

    .img-in-purple-block {
        top: 40px
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .white-ellipse {
        bottom: 450px;
        right: 17%;
    }

    .img-in-purple-block {
        top: 130px
    }
}

@media (min-width: 1400px) {
    .white-ellipse {
        bottom: 620px;
    }

}

.img-in-purple-block {
    position: relative;
    left: 65%;
    height: 576px;
    width: 266px;
    transform: rotate(8deg);
}

.img-in-purple-block-mobile {
    width: 236px;
    height: 341px;
}
