.block{
  border-radius: 30px;
  border: 2px solid;
  border-color: #4584FF;
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 5%;
  padding-bottom: 3%;
  margin-bottom: 10%;
}

.block h1{
  margin-bottom: 5%;
  color: #4584FF;
}

.block:hover{
  background: linear-gradient(139.35deg, #4584FF -49.2%, #4333A6 268.32%);
  color: white;
}

.block:hover > h1{
  color:white;
}
