.icons-of-registration-brands{
    display: flex;
    justify-content: center;
    gap: 10%
}

.icon-google{
    color: red;
    font-size: 30px
}

.icon-vk{
    color: dodgerblue;
    font-size: 30px
}

.icon-yandex{
    color: darkorange;
    font-size: 30px
}
